input,
select {
  margin-right: 10px;
}

.heading-center {
  text-align: center;
}

.output {
  box-sizing: border-box;
  background-color: #f8f8ff;
  border-radius: 3px;
  box-shadow: 2px 4px 3px #696969;
  margin-bottom: 40px;
  border: solid 0.0005rem #000;
  padding: 16px;
}
